.metadata
.recommenders
RemoreSystemsTempFiles
.settings
.project
.classpath
tp-system/otp-tp-system/.settings
tp-system/otp-tp-system/.project
tp-system/otp-tp-system/.classpath
tp-system/otp-tp-system/target/*
tp-system/tp-system-dao/.settings
tp-system/tp-system-dao/.project
tp-system/tp-system-dao/.classpath
tp-system/tp-system-dao/target/*
tp-system/tp-system-client/.settings
tp-system/tp-system-client/.project
tp-system/tp-system-client/.classpath
tp-system/tp-system-client/*
